.env
dist

# Gestores de pacotes
/vendor
composer.lock
/node_modules
package.lock
package-lock.json

# Editores
/.vscode
/.idea

# Dev
/dev.js
/local.js
theme/assets/less/*.css
config.local.json

# Teste
/test